# === Django ===
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# === Environment ===
.env
.env.*
venv/
.venv/

# === Migrations cache ===
**/__pycache__/

# === PyCharm / IDE ===
.idea/
*.iml

# === OS ===
.DS_Store
Thumbs.db
Desktop.ini

# === Python ===
*.pyo
*.pyd
*.egg-info/
dist/
build/

# === Tests / Coverage ===
.coverage
htmlcov/

# === Jupyter ===
.ipynb_checkpoints/

# === Node / Frontend (если будет) ===
node_modules/
npm-debug.log*
yarn-error.log*

# === Django Debug Toolbar ===
debug_toolbar/