{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}"/>
    <link rel="stylesheet" href="{% static 'deps/css/my_css.css' %}"/>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-1">
            <div class="col-lg-2"></div>

            <div class="col-lg-10">
                <div class="row">
                    <!-- Фильтры -->
                    <div class="dropdown mb-2">
                        <button
                                class="btn btn-secondary dropdown-toggle btn-dark"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            Фильтры
                        </button>

                        <form
                                action="{% url 'goods:catalog' slug_url %}"
                                method="get"
                                class="dropdown-menu bg-dark"
                                data-bs-theme="dark"
                        >
                            <div class="form-check text-white mx-3">
                                <input
                                        class="form-check-input"
                                        type="checkbox"
                                        name="on_sale"
                                        value="on"
                                        {% if request.GET.on_sale == "on" %}checked{% endif %}

                                />
                                <label class="form-check-label"> Товары по акции </label>
                            </div>

                            <p class="text-white mx-3 mt-3">Сортировать:</p>

                            <div class="form-check text-white mx-3">
                                <input
                                        class="form-check-input"
                                        type="radio"
                                        name="order_by"
                                        value="default"
                                        {% if not request.GET.order_by or request.GET.order_by == "default" %}
                                        checked
                                        {% endif %}
                                />
                                <label class="form-check-label"> По умолчанию </label>
                            </div>

                            <div class="form-check text-white mx-3">
                                <input
                                        class="form-check-input"
                                        type="radio"
                                        name="order_by"
                                        value="price"
                                        {% if request.GET.order_by == "price" %}checked{% endif %}

                                />
                                <label class="form-check-label"> От дешевых к дорогим </label>
                            </div>

                            <div class="form-check text-white mx-3">
                                <input
                                        class="form-check-input"
                                        type="radio"
                                        name="order_by"
                                        value="-price"
                                        {% if request.GET.order_by == "-price" %}checked{% endif %}

                                />
                                <label class="form-check-label"> От дорогих к дешевым </label>
                            </div>

                            <button type="submit" class="btn btn-primary mx-3 mt-3">
                                Применить
                            </button>
                        </form>
                    </div>

                    <!-- Карточки товаров -->
                    {% for product in goods %}
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                {% if product.image %}
                                    <img
                                            src="{{ product.image.url }}"
                                            class="card-img-top product-img"
                                            alt="{{ product.name }}"
                                    />
                                {% else %}
                                    <img
                                            src="{% static 'deps/images/Not found image.png' %}"
                                            class="card-img-top product-img"
                                            alt="Not found"
                                    />
                                {% endif %}

                                <div class="card-body">
                                    <a href="{% url 'goods:product' product.slug %}">
                                        <p class="card-title">{{ product.name }}</p>
                                    </a>

                                    <p class="card-text">
                                        {{ product.description|truncatechars:45 }}
                                    </p>

                                    <p class="product_id">id: {{ product.display_id }}</p>

                                    <div class="d-flex justify-content-between align-items-center">
                                        {% if product.discount %}
                                            <div>
                                                <p class="mb-0"><s>{{ product.price }}</s> $</p>
                                                <p class="mb-0">
                                                    <strong>{{ product.sell_price }} $</strong>
                                                </p>
                                                <span class="badge bg-warning text-dark">
                                                     Скидка {{ product.discount }}
                                                </span>
                                            </div>
                                        {% else %}
                                            <p class="mb-0"><strong>{{ product.price }} $</strong></p>
                                        {% endif %}

                                        <a href="#" class="btn add-to-cart">
                                            <img
                                                    src="{% static 'deps/icons/cart-plus.svg' %}"
                                                    width="32"
                                                    height="32"
                                                    alt="Cart"
                                            />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Пагинация -->
                <nav>
                    <ul class="pagination justify-content-center my-4 custom-shadow">
                        {% if goods.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ goods.previous_page_number }}{% if params %}&{{ params }}{% endif %}">Назад</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">Назад</span></li>
                        {% endif %}

                        {% for page in goods.paginator.page_range %}
                            {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
                                <li class="page-item {% if goods.number == page %}active{% endif %}">
                                    <a class="page-link"
                                       href="?page={{ page }}{% if params %}&{{ params }}{% endif %}"> {{ page }} </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if goods.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ goods.next_page_number }}{% if params %}&{{ params }}{% endif %}">Вперед</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">Вперед</span></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %} {% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                Copyright &copy; Home Python Hub Studio 2023
            </p>
        </div>
    </footer>
{% endblock %}
